h1{
    text-align: center;
    border-width:1px;
    border-style:solid;
    border-color:blue;
    margin: auto;
    width: 250px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li{
    text-align: center;
    border-width:1px;
    border-style:solid;
    border-color:black;
    flex-grow: 2;
}

ul li{
    list-style: none;
}

header #header_main_section{
    display: flex;
    justify-content: space-around;
}

header #header_main_section section{
    width: 30%;
}

section #Cv{
    text-align: right;
}

header nav{
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
}

.section{
    padding-top: 6%;
    margin: 0;
}

footer{
    border-width:1px;
    display: flex;
    text-align: center;
    border-style: solid;
    border-color:black;
    justify-content: space-around;
    flex-grow: 2px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#photo{
    width: 120px;
}

@media screen and (max-width: 370px) {
    header nav{
        display: none;
    }
} 